[config]
# cargo workspace を使っている状態で cargo-make のワークスペースを使うと
# 自動的に各クレートの中の `Makefile.toml` を読み込んで「コマンドないエラー」が出るのでオフにしておく。
default_to_workspace = false
# 全然使わないタスクが候補に出てきて邪魔だったり、コマンド名が被ってエラーになったりしてめんどくさいので無視する。
skip_core_tasks = true
on_error_task = "sound-error"

[env]
HOST = "0.0.0.0"
PORT = 8080
DATABASE_USERNAME = "app"
DATABASE_PASSWORD = "passwd"
DATABASE_NAME = "app"
DATABASE_PORT_OUTER = 5432
DATABASE_PORT_INNER = 5432
REDIS_PORT_OUTER = 6379
REDIS_PORT_INNER = 6379
AUTH_TOKEN_TTL = 86400
LOADTEST_HOST = "http://localhost:8080"

# Docker Composeのネットワーク内でのDB等への接続情報
[tasks.set-env-docker.env]
description = "Docker Compose 上での環境変数を設定する。"
category = "Meta"
DATABASE_HOST = "postgres"
DATABASE_PORT = "${DATABASE_PORT_INNER}"
DATABASE_URL = "postgresql://${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}?user=${DATABASE_USERNAME}&password=${DATABASE_PASSWORD}"
REDIS_HOST = "redis"
REDIS_PORT = "${REDIS_PORT_INNER}"
JAEGER_HOST = "jaeger"
JAEGER_PORT = 6831

# Docker Compose外からDB等にアクセスする際の接続情報
[tasks.set-env-local.env]
description = "ローカル環境での環境変数を設定する。"
category = "Meta"
DATABASE_HOST = "localhost"
DATABASE_PORT = "${DATABASE_PORT_OUTER}"
DATABASE_URL = "postgresql://${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}?user=${DATABASE_USERNAME}&password=${DATABASE_PASSWORD}"
REDIS_HOST = "localhost"
REDIS_PORT = "${REDIS_PORT_OUTER}"
JAEGER_HOST = "localhost"
JAEGER_PORT = 6831

[tasks.list]
description = "タスクの一覧を表示する。"
category = "Meta"
command = "cargo"
args = ["make", "--list-all-steps"]

[tasks."bk:before-build"]
description = "実行前に依存サービスを起動して準備する。"
category = "Backend Dev"
run_task = [
  { name = [
    "compose-up-db",
    "migrate",
    "compose-up-redis",
    # "compose-up-jaeger",
  ] },
]

[tasks.compose-build-app]
description = "Docker Compose 上で app イメージをビルドする。"
category = "Docker"
extend = "set-env-local"
cwd = "backend"
command = "docker"
args = [
  "compose",
  "build",
  "app",
  "--build-arg",
  "BUILDKIT_INLINE_CACHE=1",
  "${@}",
]

[tasks."bk:run"]
description = "バックエンドをローカル環境で起動する。"
category = "ローカル開発セットアップ"
extend = "set-env-local"
dependencies = ["bk:before-build"]
cwd = "backend"
command = "cargo"
args = ["run", "${@}"]

[tasks.run-in-docker]
description = "Compose 上でアプリコンテナを起動する。"
category = "Docker"
extend = "set-env-docker"
dependencies = ["bk:before-build", "compose-build-app"]
cwd = "backend"
command = "docker"
args = ["compose", "up", "-d", "app"]

[tasks.logs]
description = "Compose サービスのログを表示する。"
category = "Docker"
extend = "set-env-docker"
dependencies = ["bk:before-build"]
cwd = "backend"
command = "docker"
args = ["compose", "logs", "${@}"]

[tasks."bk:build"]
description = "バックエンドをローカル環境でビルドする。"
category = "ローカル開発セットアップ"
extend = "set-env-local"
dependencies = ["bk:before-build"]
cwd = "backend"
command = "cargo"
args = ["build", "${@}"]

[tasks."bk:check"]
description = "バックエンドのコンパイルチェックを行う。"
category = "ローカル開発セットアップ"
extend = "set-env-local"
cwd = "backend"
command = "cargo"
args = ["check"]


### Development

[tasks."bk:watch"]
description = "fmt/clippy/test を監視実行する。"
category = "Backend Dev"
extend = "set-env-local"
dependencies = ["bk:before-build"]
cwd = "backend"
run_task = [{ name = ["bk:fmt", "bk:clippy", "bk:test"] }]
watch = true

[tasks."bk:fmt"]
description = "ワークスペース全体をフォーマットする。"
category = "Backend Dev"
extend = "set-env-local"
cwd = "backend"
command = "cargo"
args = ["fmt", "--all", "${@}"]

[tasks."bk:clippy"]
description = "ワークスペースに clippy を実行する。"
category = "Backend Dev"
extend = "set-env-local"
cwd = "backend"
command = "cargo"
args = ["clippy", "--all", "--all-targets", "${@}"]

[tasks."bk:test"]
description = "バックエンドのテストを cargo nextest で実行する。"
category = "Backend Tests"
extend = "set-env-local"
cwd = "backend"
install_crate = { crate_name = "cargo-nextest", binary = "cargo", test_arg = [
  "nextest",
  "--help",
] }
command = "cargo"
args = [
  "nextest",
  "run",
  "--workspace",
  "--status-level",
  "all",
  "--test-threads=1",
]

[tasks."bk:clippy-ci"]
description = "CI 向けに clippy を警告エラー化で実行する。"
category = "Backend Dev"
extend = "set-env-local"
dependencies = ["bk:before-build"]
cwd = "backend"
command = "cargo"
args = ["clippy", "--", "--no-deps", "-Dwarnings"]

[tasks."bk:test-ci"]
description = "バックエンドのテストを CI 向けに実行する（事前準備付き）。"
category = "Backend Tests"
dependencies = ["bk:before-build"]
run_task = "bk:test"

[tasks.clean]
description = "ビルドキャッシュを削除する。"
# sqlx のビルドキャッシュも消すために各クレート内の `target` ディレクトリも削除する。
category = "ローカル開発終了"
cwd = "backend"
script = "cargo clean && find . -name 'target' -type d | xargs rm -rf"

### Migration

[tasks.migrate]
description = "sqlx-cli で DB マイグレーションを実行する（リトライ付き）。"
category = "Database"
extend = "set-env-local"
cwd = "backend"
install_crate = { crate_name = "sqlx-cli", binary = "sqlx", test_arg = "--help", version = "0.7.3" }
script = '''
#!/bin/bash
until sqlx migrate run --source adapter/migrations; do
    sleep 1
done
'''

[tasks.sqlx]
description = "sqlx-cli を環境変数付きで実行する。"
category = "Database"
extend = "set-env-local"
cwd = "backend"
install_crate = { crate_name = "sqlx-cli", binary = "sqlx", test_arg = "--help", version = "0.7.3" }
command = "sqlx"
args = ["${@}", "--source", "adapter/migrations"]

[tasks.psql]
description = "psql でローカル DB に接続する。"
category = "Database"
extend = "set-env-local"
cwd = "backend"
command = "docker"
args = [
  "run",
  "-it",
  "--rm",
  "--network",
  "host",
  "-v",
  "${PWD}:/work",
  "postgres:15",
  "psql",
  "${DATABASE_URL}",
  "${@}",
]

[tasks.initial-setup]
description = "初期データ投入スクリプトを実行する。"
category = "ローカル開発セットアップ"
extend = "set-env-local"
cwd = "backend"
command = "docker"
args = [
  "run",
  "-it",
  "--rm",
  "--network",
  "host",
  "-v",
  "${PWD}:/work",
  "postgres:15",
  "psql",
  "${DATABASE_URL}",
  "-f",
  "/work/data/initial_setup.sql",
]


### Docker Compose

[tasks.compose]
description = "docker compose コマンドのラッパー。"
category = "Docker"
extend = "set-env-docker"
cwd = "backend"
command = "docker"
args = ["compose", "${@}"]

[tasks.compose-up-db]
description = "Compose で Postgres を起動する。"
category = "Docker"
extend = "set-env-docker"
cwd = "backend"
command = "docker"
args = ["compose", "up", "-d", "postgres"]

[tasks.compose-up-redis]
description = "Compose で Redis を起動する。"
category = "Docker"
extend = "set-env-docker"
cwd = "backend"
command = "docker"
args = ["compose", "up", "-d", "redis"]

[tasks.compose-up-jaeger]
description = "Compose で Jaeger を起動する。"
category = "Docker"
extend = "set-env-docker"
cwd = "backend"
command = "docker"
args = ["compose", "up", "-d", "jaeger"]

[tasks.compose-down]
description = "Compose のサービスを停止する。"
category = "Docker"
extend = "set-env-docker"
cwd = "backend"
command = "docker"
args = ["compose", "down"]

[tasks.compose-remove]
description = "Compose のサービスを停止しボリュームも削除する。"
category = "ローカル開発終了"
extend = "set-env-docker"
cwd = "backend"
command = "docker"
args = ["compose", "down", "-v"]

[tasks.create-hash]
description = "bcrypt でパスワードハッシュを生成する。"
category = "Tools"
script_runner = "@rust"
script = '''
//! ```cargo
//! [dependencies]
//! bcrypt = "0.15.1"
//! ```
fn main() {
    let password = &std::env::args().collect::<Vec<String>>()[1];
    let hashed = bcrypt::hash(password, bcrypt::DEFAULT_COST).unwrap();
    println!("{}", hashed);
}
'''

### Load Test

[tasks.loadtest]
description = "Goose で / に軽負荷をかける。"
category = "LoadTest"
cwd = "backend"
command = "cargo"
args = ["run", "-p", "loadtest", "--", "${@}"]

### Frontend

[tasks."fr:install"]
description = "pnpm で依存関係をインストールする。"
category = "Frontend"
command = "pnpm"
args = ["-C", "frontend", "install", "${@}"]

[tasks."fr:dev"]
description = "フロントエンド開発サーバを起動する。"
category = "Frontend"
command = "pnpm"
args = ["-C", "frontend", "dev", "${@}"]

[tasks."fr:build"]
description = "フロントエンドをビルドする。"
category = "Frontend"
command = "pnpm"
args = ["-C", "frontend", "build", "${@}"]

[tasks."fr:lint"]
description = "フロントエンドの Lint を実行する。"
category = "Frontend"
command = "pnpm"
args = ["-C", "frontend", "lint", "${@}"]

[tasks."fr:test"]
description = "フロントエンドのテストを実行する。"
category = "Frontend"
command = "pnpm"
args = ["-C", "frontend", "test", "${@}"]

### Observability

[tasks."obs:up"]
description = "観測系を起動する。"
category = "Observability"
command = "docker"
args = ["compose", "-f", "observability/compose.yaml", "up", "-d", "${@}"]

[tasks."obs:down"]
description = "観測系を停止する。"
category = "Observability"
command = "docker"
args = ["compose", "-f", "observability/compose.yaml", "down", "${@}"]

[tasks."obs:logs"]
description = "観測系のログを表示する。"
category = "Observability"
command = "docker"
args = ["compose", "-f", "observability/compose.yaml", "logs", "${@}"]

# ===== その他 =====
[tasks.sound-complete]
description = "作業が完了したときの音を鳴らす。"
private = true
run_task = [
  # おやこ手帳チームでは基本的に macOS 用の準備しかしていないので他は考慮をしていない場合が多いが、
  # CI などでエラーにならないように macOS でのみ音を鳴らすようにしてある。
  { name = "sound-complete-mac", condition = { platforms = ["mac"] } },
]

[tasks.sound-complete-mac]
description = "作業が完了したときの音を鳴らす。（macOS）"
private = true
script = '''
#!/usr/bin/env bash

afplay -t 0.3 /System/Library/Sounds/Glass.aiff
afplay -t 0.3 /System/Library/Sounds/Glass.aiff
afplay -t 0.3 /System/Library/Sounds/Glass.aiff
'''

[tasks.sound-error]
description = "作業が失敗したときの音を鳴らす。"
private = true
run_task = [{ name = "sound-error-mac", condition = { platforms = ["mac"] } }]

[tasks.sound-error-mac]
description = "作業が失敗したときの音を鳴らす。(macOS)"
private = true
script = '''
#!/usr/bin/env bash

afplay -t 0.3 /System/Library/Sounds/Submarine.aiff
'''
